@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  /* box-sizing:border-box; */
}

h1 {
  @apply text-3xl font-bold;
}

h2 {
  @apply text-2xl font-medium;
}

h3 {
  @apply text-xl font-normal;
}


.app {
  display: grid;
  grid-template-rows: 150px auto;
}

.taskInput::placeholder {
  color: #686868;
}

.taskCard:active{
  opacity: 0.7;
  border: 1px solid #111;
}
